.container{
    max-width: 1366px;
    margin: 0 auto;
}

header .container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    padding-top: 17px;
    transition: 0.4s;
}
.header-logo:hover{
    opacity: 0.8;
    transition-duration: 0.4s;
    cursor: pointer;
    transform: scale(1.2);
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.navbar li{
    list-style-type: none;
}
.navbar li a{

    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    transition: 0.4s;

}
.nav__link:hover{
    transition-duration: 0.4s;
    border-bottom: 2px solid black;
    background-color: white;
    opacity: 1;
    /* color: */
    font-size: 20px;
}
.nav__button{
    padding-left: 70px;
}
.nav__button button{
    width: 180px;
    height: 50px;
    background-color: #FF4D4D;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: #FFFFFF;
    transition: 0.8s;
    /* transform: scale(1.0); */
}
.nav__button button:hover{
    width: 220px;
    height: 70px;
    font-size:20px;
    text-transform: capitalize;
    transition-duration: 0.8s;
    

}
.section-about{
    
    max-height: 493px; 
    /* ПОПРАВИТЬ ВЫСОТУ */
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
}

.img-avatar{
    max-width: 428px;
    max-height: 465px;
    margin-top: 28px;
    cursor: pointer;
}
.img-avatar img{
    max-width: 428px;
    max-height: 465px;
}
.img-avatar img:hover{
    transform: scale(1.01);
}
.section-about__info{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-about__info h2{
    font-weight: 700;
}
.section-about__info h5{
    font-weight: 500;
}
.section-about__cards{
    padding-top: 44px;
    padding-bottom: 64px;
    max-width: 630px;
    max-height: 210px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    
}
.about-card__wrap{
    width: 200px;
    height: 210px;
    background: #FFFFFF;
    border-radius: 5px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    transition-duration: 0.8s;
    gap: 10px;
}
.about-card__wrap:hover{
    transform: scale(1.118);
    transition-duration: 0.8s;
    /* cursor: auto; */
}
.about-card__head{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.about-card__arrow{
   cursor: pointer;
}
.about-card__icon{
    /* display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: -15px;
    padding-left: 20px; */
}
.about-card__title{
    padding-left: 20px;
    padding-top: 17px;
    font-weight: 700;
}
.about-card__text{
    padding-left: 20px;
}
.section-tarifs{
    padding-top: 80px;
}
.section-tarifs h2{
    text-align: center;
    font-weight: 700;
}
.section-tarifs__cards-wrap{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}
.section-tarifs__card{
    height: 350px;
    width: 320px;
    padding-left: 30px;
    border-radius: 10px;
    transition-duration: 0.8s;
}
.section-tarifs__card:hover{
    transform: scale(1.118);
    transition-duration: 0.8s;
    cursor: pointer;
}
.section-tarifs__name h4{
    padding-top: 40px;
    font-weight: 700;
    font-size: 25px;
}
.green{
    background-color: #C3FFC2;
}
.section-tarifs__speed-name h5{
    padding-top: 57px;
    font-size: 12px;
    font-weight: 500;
}
.section-tarifs__speed-value h3{
    font-size:30px;
    font-weight:700;
}
.speed-value{
    font-size: 16px;
    font-weight: 400;
    color: black;
    text-transform:uppercase
}
.red{
    color: #FF4D4D;
}
.section-tarifs__title h5{
    /* padding-top: 57px; */
    font-size: 12px;
    font-weight: 500;
}